%ul.admin-list
  %li
    =link_to "Fronts", fronts_path
  %li
    =link_to "Clusters", clusters_path
  %li
    =link_to "Markets", markets_path
  %li
    =link_to "Segments", segments_path
  %li
    =link_to "Sites", sites_path
  %li
    =link_to "App layers", app_layers_path
  %li
    =link_to "Pipes", pipes_path
  %li
    =link_to "Statuses", statuses_path
