%fieldset
  %legend showing "#{@status.status}"
  %ul
    %li
      =@status.status
    %li
      - if @status.active
        Active
      - else
        Not active
=link_to "Edit", edit_status_path(@status.id)
=link_to "Delete", @status, method: :delete,
                            data: { confirm: "You sure?" },
                            title: @status.status
