.show-front
  %dl.dl-horizontal
    %dt Full name
    %dd=@front.full_name
    %dt Market
    %dd=@front.market
    %dt Segment
    %dd=@front.segment
    %dt Site
    %dd=@front.site
    %dt App layer
    %dd=@front.app_layer
    %dt Status
    %dd=@front.status
    %dt Notes
    %dd=@front.notes

  =link_to "Edit", edit_front_path(@front)
  =link_to "Delete", @front, method: :delete,
                            data: { confirm: "You sure?" },
                            title: @front.full_name
